<%- model_class = Spark -%>
<% content_for :heading  do %>
  <h1 class="pull-left">SPARKS FOR <%= @user.display_name.upcase %></h1>
<div class="dropbox-button pull-left"><%= link_to "Update From Dropbox", update_from_dropbox_path, method: :put, class: 'btn btn-primary'%></div>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="top-right"><%= model_class.human_attribute_name(:text) %></th>
    </tr>
  </thead>
  <tbody>
    <% @sparks.each do |spark| %>
      <tr>
        <td><%= spark.text %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_spark_path,
            :class => 'btn btn-primary' %>
