<%- model_class = Spark -%>

<% content_for :heading  do %>
  <h1 class="pull-left"><%= @sparklr.page_title%></h1>
  <div class="dropbox-button pull-left">
    <% if current_user && @sparklr.user && current_user.slug == @sparklr.user.slug %>
      <%= update_button(@sparklr.page_type) %>
    <% end %>
  </div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:text) %></th>
      <th>Created at</th>
      <th class="top-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @sparklr.sparks.each do |spark| %>
      <tr>
        <td><%= spark.text %></td>
        <td><%= formatted_date(spark.created_at) %></td>
        <td><%= link_to_actions(@sparklr.page_type, spark) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
