<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Sparklr" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to "sparklr", root_path, :class => "brand" %> <span class="slogan pull-left">matchmaking for ideas</span>
          <div class="container nav-collapse">
            <%= render "shared/nav"%>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="main home blue">
      <div class="row">
        <div class="container">
          <p class="ultrathin largest">
          Mom,<br>
          Where do <br>good ideas<br>
          come from?
          </p>
        </div>
      </div>
    </div>

    <div class="home dark">
      <div class="row">
        <div class="container">
          <p class="ultrathick large">
          When two <span class="tiny ultrathin">(or more) </span>ideas<br>
            love each other<br>
            very much, they<br>
            become great
          </p>
        </div>
      </div>
    </div>

    <div class="home red">
      <div class="bottom container">
        <div class="row">
          <div class="span12">
            <p class="ultrathick largest">
            But...<br>
            The most important ideas<br />
            take a long time to evolve
            </p>
            <p class="ultrathin medium">need an explanation?<br>(it's quite good)<br>↓</p>
            <iframe width="560" height="315" src="http://www.youtube.com/embed/NugRZGDbPFU?rel=0&amp­;controls=1&amp;HD=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div><!--/row-->
      </div>
    </div>

    <div class="home blue">
      <div class="row">
        <div class="container">
          <p class="ultrathick downcase">
          <span class="largest">sparklr</span><br>
          <span class="ultrathin">matchmaking<br>for ideas</span>
          </p>
        </div>
      </div>
    </div>

      <footer>
        <div class="container">
          <p>&copy; sparklr 2013 | designed and developed by <a href="https://twitter.com/joshuamejia" target="_blank">josh mejia</a></p>
        </div>
      </footer>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
